.TweetItem {
  border: solid red 1px;
  display: flex;
  gap: 10px;
}

.TweetItem img {
  height: 55px;
  background-color: rgb(136, 240, 206);
  border-radius: 100%;
}

.TweetItem .tweet {
  display: flex;
  flex-direction: column;
}

.tweet__head {
  display: flex;
  justify-content: flex-start;
  height: 25px;
  align-items: center;
  gap: 5px;
}

.tweet__text {
  border: solid blue 1px;
}

.tweet__icons {
  display: flex;
  height: 30px;
  border: solid green 1px;
}
