.TweetItem {
  display: flex;
  gap: 10px;
  border-bottom: solid 1px rgb(163, 163, 163);
  padding: 10px 20px;
}

.TweetItem .pro-pic {
  height: 55px;
  background-color: rgb(136, 240, 206);
  border-radius: 100%;
}

.TweetItem .tweet {
  display: flex;
  flex-direction: column;
}

.tweet__head {
  display: flex;
  justify-content: flex-start;
  height: 25px;
  align-items: center;
  gap: 5px;
}

.tweet__icons {
  display: flex;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  filter: opacity(0.7);
}

.tweet__icons img {
  height: 17px;
}
