.AddTweet {
  position: fixed;
  right: 15px;
  bottom: 80px;
  height: 55px;
  width: 55px;
  background-color: #1d9bf0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-weight: bold; */
  font-size: 2em;
  color: white;
  border-radius: 100%;
  cursor: pointer;
}
