.TrendItem {
  display: flex;
  height: 100px;
  justify-content: space-between;
  transition: all 0.35s ease;
}

.TrendItem:active {
  background-color: #eff3f4;
}

.trendContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.trendContent > * {
  margin: 0;
}

.trendContent > p {
  font-size: 0.8em;
}

.trendContent > h5 {
  font-size: 0.9em;
}
/* 
.country-trend {
  font-size: 0.8em;
}

.trendContent p:nth-last-child(1) {
  font-size: 0.8em;
} */
