.Header {
  height: 95px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: solid 1px gray;
  padding: 10px;
  box-sizing: border-box;
}

.Header__top {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Header__top img:nth-child(1) {
  position: absolute;
  left: 5px;
  background-color: rgb(128, 234, 155);
  border-radius: 100%;
}

.Header__top img {
  height: 32px;
}

.Header__bottom {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
}

.Header__bottom h3 {
  /* white-space: nowrap; */
  height: 100%;
  margin-right: 30px;
}
