.Footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: white;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
}

.Footer > svg {
  height: 25px;
  width: 25px;
  color: rgb(96, 96, 96);
}

.bold {
  color: black !important;
  font-size: 1.1em;
  filter: drop-shadow(0px 0px 1px #000000);
}
