.Footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
}

.Footer img {
  height: 25px;
  width: 25px;
}

.Footer img:nth-child(4) {
  transform: translate(0, -2px);
}
