.Footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: white;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
}

.Footer img {
  height: 25px;
  width: 25px;
}

.Footer img:nth-child(4) {
  transform: translate(0, -2px);
}
